[config]
work.dir=merge

message=merge_2011_project_to_Matrix

svn.pre=v1
svn=v2
apps=resources,consign,databrusher



[svn.pre]
http://svn.alibaba-inc.com/repos/ali_intl/apps/intl-biz/consign/branches/20101123_26249_1_pre
http://svn.alibaba-inc.com/repos/ali_intl/apps/intl-download/branches/20101216_26249_2_pre
http://svn.alibaba-inc.com/repos/ali_intl/apps/intl-myalibaba/branches/20101216_26249_5_pre
http://svn.alibaba-inc.com/repos/ali_intl/apps/intl-standalone/databrusher/branches/20101216_26249_4_pre
http://svn.alibaba-inc.com/repos/ali_intl/apps/intl-commons/udas/branches/20101216_26249_4_pre
http://svn.alibaba-inc.com/repos/ali_intl/apps/intl-resources/branches/20101216_26249_3_pre
[svn]
http://svn.alibaba-inc.com/repos/ali_intl/apps/intl-biz/consign/branches/20101123_26249_1
http://svn.alibaba-inc.com/repos/ali_intl/apps/intl-download/branches/20101216_26249_2
http://svn.alibaba-inc.com/repos/ali_intl/apps/intl-myalibaba/branches/20101216_26249_5
http://svn.alibaba-inc.com/repos/ali_intl/apps/intl-standalone/databrusher/branches/20101216_26249_4
http://svn.alibaba-inc.com/repos/ali_intl/apps/intl-commons/udas/branches/20101216_26249_4
http://svn.alibaba-inc.com/repos/ali_intl/apps/intl-resources/branches/20101216_26249_3


